:root{
  --link-color:orange;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
  display: flex;
  gap:10px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
section h1{
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
  width: fit-content;
  padding: 5px 10px;
  border:2px solid black;
  margin: 10px auto;
}

